* {
  box-sizing: border-box;
}

.container {
  height: 250px;
  border: 1px solid black;
  display: grid;
  grid-template: repeat(3, auto) / repeat(3, auto);/*grid-template-row / grid-template-columns*/
  gap: 10px;
  place-items: center center;/*Align-items justify-items*/
  place-content: center center;/*Align-content justify-content*/
}

.item {
  border: 1px solid rgb(207, 49, 49);
  padding: 5px;
}
